
@media screen and (min-width: 800px) {
  
  .title {
        text-align: right;
        font-size: medium;
        font-weight: 400;
        width: 50%;
    }
    .value {
        padding-left: 1em;
        font-size: medium;
        font-weight: 700;
        text-align:left;
    }
    .indicator
    {
        /*color: #34b71f;*/
		color: #fff;
        font-size: 1.4rem;
    }
    .title1 {
        font-size: 1.4rem;
    } 
  
}
@media screen and (max-width: 500px) {
  
   .title {
        text-align: right;
        font-size: 0.8rem;
        font-weight: 700;
        width: 50%;
        color: #FFF;
    }
    .value {
        padding-left: 1em;
        font-size: 0.9rem;
        font-weight: 700;
        text-align: left;
        color: #FFF;
    }
    .indicator
    {
        /*color: #34b71f;*/
		color: #fff;
        /*font-size: 1rem;*/
        font-size:12px;
    }
    .title1 {
        font-size: 1rem;
    }
  
}

 
